@media (max-width: 767px) {
  table th {
    padding: 22px 10px 13px;
  }
  .newsfeed-category table th {
    padding: 8px 10px 7px;
  }
  .btn {
    white-space: normal;
    height: auto;
  }
  #yt_footer #yt_copyright {
    margin-bottom: 20px;
  }
  #yt_footer #footer .pull-right {
    float: none !important;
    text-align: center;
  }
  #yt_spotlight2 .module .item {
    padding: 0px;
    margin-bottom: 30px;
  }
  #yt_mainmenu ul.navi {
    display: none;
  }
  .module._menu.side-menu .modcontent ul.menu > li.parent ul {
    left: 0;
    right: inherit;
    margin-top: 30px;
  }
  .blog .items-leading .item .item-image {
    float: none !important;
    display: block;
    margin: 0 0 20px;
    min-height: inherit !important;
    min-width: inherit !important;
  }
  .blog .items-row .item .item-image {
    float: none !important;
    display: block;
    margin: 0 0 20px;
    min-height: inherit !important;
    min-width: inherit !important;
  }
  .blog-featured .items-leading .item .item-image,
  .blog-featured .items-row .item .item-image {
    margin: 0 0 20px;
    float: none;
    display: block;
    min-height: inherit !important;
    min-width: inherit !important;
  }
  .item-page .img-fulltext {
    display: block;
    float: none;
  }
  .item-page #g-about .yt-slider-carousel {
    margin: 0;
  }
  .item-page #g-about .yt-slider-carousel .carousel-indicators {
    bottom: 8px;
  }
  .item-page ul.related-items li {
    margin-bottom: 20px;
  }
  .item-page ul.related-items li .img-fulltext {
    display: inline-block;
    float: left !important;
  }
  .pagination  ul li {
    margin: 4px 2px;
  }
  .pagination  ul li a,
  .pagination  ul li span {
    float: none;
    display: inline-block;
  }
  .tag-category ul.items-row .item .item-image {
    float: none !important;
    display: block;
    margin: 0px 0px 20px;
    min-width: inherit !important;
    min-height: inherit !important;
  }
  .item-page .img-fulltext {
    float: none !important;
  }
  .item-page .image {
    width: 100%;
    margin: 20px 0px;
  }
  .item-page .dt-list {
    width: 100%;
    margin: 20px 0px;
  }
  .item-page .notice {
    padding: 20px 20px 20px 50px;
    background-position: 12px center;
  }
  .item-page .article-aside .article-info dd {
    font-size: 12px;
  }
  .item-page ul.related-items li {
    float: left;
    width: 100%;
  }
  #search-form input.inputbox {
    margin-bottom: 10px;
  }
  #search-form .btn-primary {
    margin-top: -1px;
  }
  .bs-docs-example + .prettyprint {
    overflow: auto !important;
  }
  .bs-docs-example .col-lg-6 {
    width: 100%;
    padding: 0;
  }
  .bs-docs-example div.yt-tabs.vertical {
    margin: 0;
  }
  .bs-docs-example div.yt-tabs.vertical .nav-tabs {
    display: block;
    width: 100%;
    margin: 0;
  }
  .bs-docs-example div.yt-tabs.vertical div.tab-content {
    padding: 0;
  }
  .audio_player {
    width: 100%;
  }
  .audio_player .audiojs {
    width: 100%;
  }
  div.bs-docs-example {
    overflow-x: auto;
  }
  div.track-details {
    width: 100%;
  }
  pre.highlighter:before {
    position: static;
  }
  .highlighter.prettyprint {
    overflow-x: auto;
  }
  ul.yt-playlist {
    width: 100%;
  }
  .form-vertical .login-greeting {
    display: none;
  }
  .form-vertical .logout-button {
    margin: 0 10px;
  }
  .registration .form-horizontal .control-label {
    width: 100%;
    padding: 0px;
  }
  .form-horizontal .controls input {
    width: 100%;
  }
  #member-registration div {
    padding: 0;
  }
  div.contact textarea,
  div.contact input {
    width: 90%;
  }
  #myLogin .modal-dialog {
    width: 280px;
  }
  #myLogin .modal-dialog .inputbox {
    width: 100%;
  }
  #searchForm .inputbox {
    margin-bottom: 10px;
  }
  .yt-loginform .dropdown-menu {
    min-width: 190px;
  }
  div.bsn-wrap .item {
    margin-bottom: 30px;
  }
  div.bsn-wrap .item .bsn-image .alignleft {
    width: 100% !important;
  }
  div.bsn-wrap.theme3 .item {
    margin: 0px;
  }
  div.sj-accordion .acd-items .acd-item:hover .acd-image a.hover-link {
    top: 30%;
  }
  #g-about .title {
    margin-top: 30px;
  }
  #g-about .ourmember .pre-text {
    padding: 0 10px;
  }
  div.yt-tabs.vertical ul.nav-tabs {
    width: 100%;
    margin-left: 0;
  }
  div.yt-tabs.vertical {
    margin-left: 0;
  }
  #yt-extra-carousel .item .img-thumbnail {
    padding: 7px 4px;
  }
  .bs-docs-example a.btn {
    margin: 5px;
  }
  .bs-docs-example .box-members,
  .bs-docs-example .box-apps,
  .bs-docs-example .box-leads {
    margin-bottom: 10px;
  }
  table.variations {
    display: block;
  }
  .contact-ajax .ctajax-element .el-ctajax-form input.el-input,
  .contact-ajax .ctajax-element .el-ctajax-form textarea {
    width: 100%;
  }
  #g-about .text {
    margin-bottom: 10px;
  }
  #g-about .customersay .cus-title {
    font-size: 12px;
  }
  .info-address,
  .info-mobie,
  .info-mail {
    font-size: 12px;
  }
  .info-address .icon-map-marker,
  .info-address .icon-mobile-phone,
  .info-address .icon-envelope-alt,
  .info-mobie .icon-map-marker,
  .info-mobie .icon-mobile-phone,
  .info-mobie .icon-envelope-alt,
  .info-mail .icon-map-marker,
  .info-mail .icon-mobile-phone,
  .info-mail .icon-envelope-alt {
    margin-right: 6px;
  }
  .yt-resmenu .nav-collapse ul.resmenu li.haveChild .res-wrapnav {
    margin: 0;
  }
  .yt-resmenu .nav-collapse ul.resmenu li.haveChild .res-wrapnav ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .rtl .yt-resmenu .nav-collapse ul.resmenu li.haveChild .menuress-toggle {
    right: auto;
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  div.container {
    width: 750px;
  }
  #yt_mainmenu ul.navi {
    display: none;
  }
  #yt_mainmenu .yt-resmenu {
    display: block;
  }
  .ourmember #yt-extra-carousel img {
    height: 150px;
  }
  .registration .form-horizontal .control-label {
    white-space: nowrap;
    width: 28%;
  }
  #login {
    padding: 0;
    position: absolute;
    right: 0;
    z-index: 100;
    width: 250px;
  }
  .mod-languages ul.dropdown-menu {
    min-width: 125px;
  }
  .blog-featured .items-row .item .item-image {
    display: inline-block;
  }
  .blog .items-leading .item.span4 .item-image,
  .blog .items-leading .item.span6 .item-image,
  .blog .items-leading .item.span3 .item-image {
    display: block !important;
    min-width: inherit !important;
    min-height: inherit !important;
  }
  .blog .items-leading .item.span4 .item-image .img_caption,
  .blog .items-leading .item.span6 .item-image .img_caption,
  .blog .items-leading .item.span3 .item-image .img_caption {
    width: auto !important;
  }
  .blog .items-leading .item .item-image {
    float: none !important;
    display: inline-block;
    margin: 0 0 20px;
  }
  .blog .items-row .item.col-sm-3 .item-image,
  .blog .items-row .item.col-sm-4 .item-image,
  .blog .items-row .item.col-sm-6 .item-image {
    display: block !important;
    min-width: inherit !important;
    min-height: inherit !important;
    float: none !important;
  }
  .blog .items-row .item.col-sm-3 .item-image .img_caption,
  .blog .items-row .item.col-sm-4 .item-image .img_caption,
  .blog .items-row .item.col-sm-6 .item-image .img_caption {
    width: auto !important;
  }
  .blog .items-row .item .item-image {
    float: none !important;
    display: inline-block;
    margin: 0 0 20px;
  }
  .item-page .btn.btn-flat {
    padding: 5px 15px;
    font-size: 12px;
  }
  .item-page .related-items .img-fulltext {
    display: inline-block;
  }
  .item-page .g-pageteam .b-ourteam .col-sm-6.first {
    clear: both;
  }
  .item-page .dt-list {
    width: 47%;
  }
  .bs-docs-example .clearfix {
    display: none;
  }
  .tag-category ul.items-row .item .item-image {
    float: none !important;
    margin: 0px 0px 20px 0px;
    display: inline-block;
  }
  div.bsn-wrap.theme2 .item {
    margin-bottom: 30px;
  }
  div.bsn-wrap.theme2 .item .bsn-image .alignleft {
    width: 100% !important;
  }
  div.bsn-wrap.theme3 .item .bsn-image .alignleft {
    width: 100% !important;
  }
  .yt-loginform .dropdown-menu {
    min-width: 188px;
  }
  .mod-languages .dropdown-menu li a {
    padding: 7px;
  }
  .form-vertical {
    padding: 9px 5px;
  }
  .form-vertical .login-greeting {
    font-size: 12px;
  }
  .form-vertical .logout-button .btn {
    padding: 2px 0 2px 6px;
  }
  #search {
    padding-right: 0px;
  }
  #search #mod-finder-searchform {
    margin-right: 0px;
  }
  #search #mod-finder-searchform #mod-finder-searchword {
    width: 157px;
  }
  #contact {
    padding-right: 0px;
  }
  #contact .poscenter {
    margin-top: -4px;
  }
  #contact .poscenter a {
    font-size: 13px;
  }
  #contact .poscenter span {
    font-size: 13px;
  }
  div.sj-accordion .acd-items .acd-item:hover .acd-image a.hover-link {
    top: 29%;
  }
  .flyout-menu.vertical li > .fm-container.direction-right {
    left: 100%;
    right: auto;
  }
  .carousel-inner > .item > a > img,
  .carousel-inner > .item > img,
  .img-responsive,
  .thumbnail a > img,
  .thumbnail > img {
    width: 100%;
  }
  #g-about .ourmember .item-content .image .socials a.facebook {
    left: 20%;
  }
  #g-about .ourmember .item-content .image .socials a.flickr {
    left: 39%;
  }
  .sj-responsive-listing .respl-categories {
    max-width: 60%;
  }
  .rtl .module.yt-collections .modcontent ul.collections .collect3,
  .rtl .rtl .module.yt-collections .modcontent ul.collections .collect6 {
    margin: 0 0 20px;
  }
  .rtl #login {
    right: auto;
    left: 0;
  }
  .rtl #search {
    padding: 0px;
  }
  .rtl #search #mod-finder-searchform .button {
    left: 23px;
  }
  .rtl #search #mod-finder-searchform input.inputbox {
    margin-right: 15px;
  }
  .rtl .form-vertical {
    padding: 15px 1px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  div.container {
    width: 980px;
  }
  .blog .items-leading .item .item-image {
    float: none !important;
    margin: 0px 0px 20px 0px;
    display: inline-block;
  }
  .blog .items-leading .item.span4 .item-image .img_caption,
  .blog .items-leading .item.span6 .item-image .img_caption,
  .blog .items-leading .item.span3 .item-image .img_caption {
    width: auto !important;
  }
  .blog .items-row .item .item-image {
    float: none !important;
    margin: 0px 0px 20px 0px;
    display: inline-block;
  }
  .blog .items-row .item.col-sm-3 .item-image img,
  .blog .items-row .item.col-sm-4 .item-image img,
  .blog .items-row .item.col-sm-6 .item-image img {
    max-width: 100%;
    display: block;
  }
  .blog .items-row .item.col-sm-3 .item-image .img_caption,
  .blog .items-row .item.col-sm-4 .item-image .img_caption,
  .blog .items-row .item.col-sm-6 .item-image .img_caption {
    width: auto !important;
  }
  .registration .form-horizontal .control-label {
    white-space: nowrap;
    width: 28%;
  }
  #login {
    padding: 0;
  }
  #meganavigator li.mega1 .mega-content {
    left: -461px !important;
  }
  .item-page .btn.btn-flat {
    font-size: 14px;
  }
  .item-page .dt-list {
    width: 47%;
  }
  .tag-category ul.items-row .item .item-image {
    float: none !important;
    margin: 0px 0px 20px 0px;
    display: inline-block;
  }
  #mod-finder-searchform {
    margin: 3px 0 0;
  }
  #mod-finder-searchform input.inputbox {
    width: 185px;
  }
  .yt-loginform .dropdown-menu {
    min-width: 190px;
  }
  .mod-languages .dropdown-menu {
    min-width: 150px;
  }
  .mod-languages .dropdown-menu li a {
    font-size: 12px;
  }
  .mod-languages .dropdown-menu li a img {
    margin-top: 3px;
  }
  .form-vertical {
    padding: 13px 5px;
  }
  .form-vertical .login-greeting {
    font-size: 12px;
    margin: 4px 4px 0 0;
  }
  .form-vertical .logout-button .btn {
    padding: 3px 1px 3px 8px;
  }
  .mod-languages ul.dropdown-menu {
    min-width: 150px;
  }
  div.sj-accordion .acd-items .acd-item .acd-content-wrap .acd-content-wrap-inner .acd-content {
    padding: 10px;
  }
  div.sj-accordion .acd-items .acd-item .acd-content-wrap .acd-content-wrap-inner .acd-content .acd-description {
    font-size: 12px;
  }
  div.bsn-wrap.theme3 .item .basicnews-desc {
    padding: 10px;
    font-size: 12px;
  }
  div.bsn-wrap.theme3 .item .basicnews-info {
    padding: 5px 10px 20px;
  }
  iframe {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .layout-wide {
    background: #f6f6f6;
  }
  .layout-boxed {
    width: 1200px;
    margin: 0 auto;
    background: #f6f6f6;
    box-shadow: 0 0 6px #777777;
  }
  .layout-framed {
    width: 1200px;
    margin: 20px auto;
    background: #f6f6f6;
    box-shadow: 0 0 10px #777777;
  }
  .layout-rounded {
    width: 1200px;
    margin: 20px auto;
    background: #f6f6f6;
    box-shadow: 0 0 10px #777777;
    border-radius: 15px;
    overflow: hidden;
  }
}
